@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter&display=swap');
@import url("https://nifty-tesla-85dda2.netlify.app/Components/components.css");

:root {
  --blue-gradient: #40c9ff;
  --violet-gradient: #e81cff;
  --dark-bg: #1A1C1E;
  font-size: 13px;
  color: var(--white);
}

* {
  font-family: "Inter", sans-serif;
}

body{
  background-color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: inherit;
}

.flex-row.center-row {
  justify-content: center;
}

a {
  text-decoration: none;
}

.space{
  flex-grow: 1;
}

.icon-size-rg{
  font-size: 1.4rem;
}
.icon-size-md{
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--white);
}

.btn.cta-btn{
  height: min-content;
  padding: 5px 12px;
  opacity: 1;
}
.cta-btn.disabled{
  cursor: auto;
  opacity: 0.6;
}


.light-txt {
  color: var(--light-grey);
}

.green-txt {
  color: var(--green-color);
}

.flex-row {
  justify-content: center;
}

.nav-logo img {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
}

.close-icon.white {
  color: var(--white);
}

.nav-logo {
  padding: 10px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 5px 30px;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-font {
  font-family: "Audiowide", cursive;
}

.content-container {
  width: 100%;
  height: 100%;
}

.mg-t-60 {
  margin-top: 4.5rem;
}

.mg-t-70 {
  margin-top: 5.3rem;
}

.dark-bg {
  background-color: var(--primary-color);
}

.red-txt {
  color: var(--red-color);
}

.empty-page-txt {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pointer:hover {
  cursor: pointer;
}

.num-badge {
  top: -5px;
  right: -9px;
}

.empty-layout {
  width: 100%;
  height: 90vh;
}

footer .icon-btn{
  width: 2.3rem;
  color: var(--primary-color);
  padding: 10px;
  height: 1.8rem;
}


/* to hide elements purely visually while still retaining accessibliity */
.visually-hidden {
  border-width: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.g-0{
  gap: 0;
}
.g-10{
  gap: 10px;
}